.bg-container-Top-services{
    background-color: rgba(44, 144, 167, 1);
}
@media(max-width:1165px){
    .container-card{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}


.bg-gradient {
    background: linear-gradient(
  130deg,
  #1c5872 0%,
  #2fb0cd 50%,
  #c6ecf3 100%
        
  );}
 