@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Cairo";
  box-sizing: border-box;
}

.font-roboto-serif {
  font-family: "Roboto Serif", serif;
}

@keyframes pattern-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

.animate-pattern-move {
  animation: pattern-move 20s linear infinite;
}

.service-card {
  transition: all 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(26, 146, 206, 0.2);
}

.service-image {
  transition: transform 0.5s ease;
}

.service-card:hover .service-image {
  transform: scale(1.05);
}
/* service discovery button animition*/
@keyframes wiggle {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
}
.animate-wiggle {
  animation: wiggle 1.2s ease-in-out infinite;
}
@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(300%);
  }
}
.animate-shine {
  animation: shine 2.5s linear infinite;
}
